@import url("./fonts.css");

:root {
  font-size: 16px;
  --bodyBG: #000;
  --sectionsBG: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
}
body,
html {
  background-color: var(--bodyBG) !important;
}

.headBar {
  background: var(--sectionsBG);

  button {
    background: var(--sectionsBG);
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #9292925d;
    box-shadow: 0 0 5px #000;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;

    svg {
      margin-inline-start: 8px;
      font-size: 20px;
    }
  }
}

.sideBar {
  background: var(--sectionsBG);
  color: #fff;
  border-radius: 10px;

  .inputContainer {
    background: var(--sectionsBG);
    border-radius: 8px;
    box-shadow: 0 0 5px #000;

    label {
      display: block;
      text-transform: capitalize;
      font-weight: bold;
      margin-bottom: 5px;
      font-family: Ubuntu, Zain !important;

      svg {
        font-size: 20px;
      }
    }

    input {
      padding: 5px;
      background: var(--sectionsBG);
      border: 1px solid #9292925d;
      border-radius: 8px;
      box-shadow: 0 0 5px #000;
      color: #fff;
      font-family: Ubuntu, Zain !important;

      &::placeholder {
        color: #fff;
      }

      &:focus {
        outline: none;
        box-shadow: 0 0 8px #000;
        transition: all 0.3s ease-in-out;
      }
    }

    .dropend {
      .dropdown-menu {
        background: var(--sectionsBG);
        max-height: 300px;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;

        .dropdown-item {
          color: #fff;
          cursor: pointer;
          &:hover {
            background: var(--sectionsBG);
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    .uploadBtn,
    .fontBtn {
      border: 1px solid #9292925d;
      box-shadow: 0 0 5px #000;
      color: #fff;
      border-radius: 6px;
      background: var(--sectionsBG);
      padding: 5px 10px;

      &:hover {
        box-shadow: 0 0 8px #000;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.cardContainer {
  background: var(--sectionsBG);
  padding: 20px;
  border-radius: 10px;
  width: fit-content !important;

  .cardDesign {
    position: relative;
    border: 1px solid #000;
    margin: 0px auto !important;
    background-color: #000;
    padding: 20px;
    color: #fff;

    .mainInfo {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
      width: max-content;
      z-index: 111;
    }

    .link {
      position: absolute;
      bottom: 0;
      left: 10px;
      color: #fff;
    }

    .shapeOne {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 85px;
      height: 85px;
      border-radius: 30% 30% 80% 30%;
      z-index: 111;
    }

    .shapeTwo {
      position: absolute;
      bottom: 5px;
      right: 5px;
      width: 150px;
      height: 150px;
      border-radius: 80% 30% 30% 30%;
      z-index: 111;
    }
    .shapeThree {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 100px;
      height: 100px;
      border-radius: 80% 30% 30% 30%;
      z-index: 1111;
    }
  }
}

.designSection {
  background: var(--sectionsBG);
  border-radius: 10px;
  color: #fff;
  font-family: Ubuntu, Zain !important;

  .switchTab {
    button {
      background: var(--sectionsBG);
      border: 1px solid #9292925d;
      box-shadow: 0 0 5px #000;
      color: #fff;
      border-radius: 8px;
      padding: 5px 10px;
      margin: 0px 5px;
      font-weight: bold;
    }

    .selected {
      box-shadow: 0 0 8px #000;
      transition: all 0.3s ease-in-out;
      background-color: #fff;
      color: #000;
    }
  }

  .designInnerSection {
    background: var(--sectionsBG);
    border-radius: 8px;
    box-shadow: 0 0 5px #000;

    .inputContainer {
      background: var(--sectionsBG);
      border-radius: 8px;
      box-shadow: 0 0 5px #000;
      display: flex;
      align-items: center;
      align-content: center;

      label {
        display: inline-block;
        text-transform: capitalize;
        font-weight: bold;
      }

      input {
        margin-inline-start: 15px;
        cursor: pointer;
        background: var(--sectionsBG);
      }

      .grDegree,
      .dimensionInp {
        background: var(--sectionsBG);
        border: 1px solid #9292925d;
        box-shadow: 0 0 5px #000;
        color: #fff;
        border-radius: 8px;
        padding: 5px;
        margin-inline-start: 10px;
        width: 50px;

        &:focus {
          outline: none;
          box-shadow: 0 0 8px #000;
          transition: all 0.3s ease-in-out;
        }
      }

      .dimensionInp {
        width: 70px;
      }

      span {
        svg {
          font-size: 20px;
        }
      }
    }
  }
}

.inner {
  background: var(--sectionsBG);
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  svg {
    font-size: 50px;
    color: #fd0000;
    filter: drop-shadow(0 0 5px #fd0000);
  }
}
